@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Add a new Order For @Model.Name</h1>

  <form action="/vendor/@Model.Id/order" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <label for="orderTitle">Order Title: </label>
    <input id="orderTitle" name="orderTitle" type="text">
    <br>
    <label for="orderDescription">Order Description: </label>
    <input id="orderDescription" name="orderDescription" type="text">
    <br>
    <label for="orderPrice">Order Total: $ </label>
    <input id="orderPrice" name="orderPrice" type="int">
    <br>
    <label for="orderDate">Order Date:</label>
    <input id="orderDate" name="orderDate" type="date">
    <br>
    <button type="submit" class="btn btn-dark">Add Order</button>
  </form>
</div>