@{
  Layout = "_Layout";
}
@using PierresVendors.Models;

<div class="header">
  <h1>Order Details</h1>
</div>
<div class="shaded">
  <h2>@Model["order"].Title</h2>
  <p class="brown">Due Date: @Model["order"].Date</p>
  <p class="brown">Price: $@Model["order"].Price</p>
  <h3>Description: @Model["order"].Description</h3>

  <a href='/vendor/@Model["vendor"].Id' class="btn btn-outline-success">Return to this vendor</a>
  <br>
  <a href='/vendor' class="btn btn-outline-success">Return to the vendor list</a>
</div>