<!DOCTYPE html>
<html>
  <head>
    <title>Pierre's Vendo Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class ="container">
      <h1>Vendor and Order Tracker</h1>
      <h3>Welcome, Pierre! Select an option below to begin</h3>
      <a href="/vendor/new" class="btn btn-dark">Add a Vendor</a>
      <br>
      <a href="/vendor" class="btn btn-dark">View Vendor List</a>

    </div>
  </body>
</html>