@{
  Layout = "_Layout";
}


<div class="header">
  <h1>Vendor and Order Tracker</h1>
</div>
<div class ="container shaded">
  <h3 class="brown center">Welcome Back, Pierre!</h3>
  <p class="center brown">Select an option below to get started!</p>
  <a href="/vendor/new" class="btn btn-outline-success">Add a Vendor</a>
  <br>
  <a href="/vendor" class="btn btn-outline-success">View Vendor List</a>

</div>

